{% extends "rango/base.html" %}
{% load static %}
{% load rango_template_tags %}
{% block body_block %}
     <link href="https://getbootstrap.com/docs/4.3/examples/sign-in/signin.css" rel="stylesheet">
    <form class="form-signin" role="form" method="post" action=".">
        {% csrf_token %}
      <img class="mb-4" src="{% static 'images/favicon.ico' %}" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">لطفا وارد شوید!</h1>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="text" name="username" id="id_username" class="form-control" placeholder="نام‌کاربری" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="id_password" class="form-control" placeholder="رمز عبور" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">ورود</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
{% endblock %}





