{% extends "rango/base.html" %}
{% block body_block %}
<h2 class="form-signin-heading">ثبت‌نام در رنگو!</h2>
<form role="form" method="post" action=".">
    {% csrf_token %}
    <div class="form-group" >
    <p class="required"><label class="required" for="id_username">
    نام کاربری:</label>
    <input class="form-control" id="id_username" maxlength="30"
    name="username" type="text" />
    <span class="helptext">
نام‌کاربری باید کمتر از ۳۰ حرف باشه و فقط می‌تونه شامل حروف، عدد و نشانه‌های @/./+/-/_ باشه.
    </span>
    </p>
    <p class="required"><label class="required" for="id_email">
    ای‌میل:</label>
    <input class="form-control" id="id_email" name="email"
    type="email" />
    </p>
    <p class="required"><label class="required" for="id_password1">
    رمز عبور:</label>
    <input class="form-control" id="id_password1" name="password1"
    type="password" />
    </p>
    <p class="required">
    <label class="required" for="id_password2">
    تکرار رمز عبور:</label>
    <input class="form-control" id="id_password2" name="password2"
    type="password" />
    <span class="helptext">
    باید هر دو فیلد پسورد یک‌سان باشند.
    </span>
    </p>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">ثبت‌نام</button>
</form>
{% endblock %}