@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/Shabnam.eot');
	src: url('/static/fonts/Shabnam.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/Shabnam.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/Shabnam.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/Shabnam.ttf') format('truetype');
}
@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: bold;
	src: url('/static/fonts/Shabnam-Bold.eot');
	src: url('/static/fonts/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/Shabnam-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/Shabnam-Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/Shabnam-Bold.ttf') format('truetype');
}
@font-face {
	font-family: Shabnam;
	font-style: normal;
	font-weight: light;
	src: url('/static/fonts/Shabnam-Light.eot');
	src: url('/static/fonts/Shabnam-Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/Shabnam-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/Shabnam-Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/Shabnam-Light.ttf') format('truetype');
}





.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      body {
        direction: rtl;
        text-align: right;
        font-family: Shabnam;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }