{% extends 'rango/base.html' %}
{% load static %}


{% block title_block %}

درباره من

{% endblock %}

{% block body_block %}

<img src="{% static 'images/About-Us.jpg' %}" alt="About Me Picture" width="600px" height="200px" align="center">
<br />
<p>
    این پروژه توسط
 {{ yourname }} ساخته شده.
</p>
<br />
<img src="{{MEDIA_URL}}cat.webp" alt="Picture of cat">



{% endblock %}