{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}
{% load static %}


{% block title_block %}

اضافه کردن موضوع

{% endblock %}

{% block body_block %}
<style>
    [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    float: right;
    position: relative;
    right: 55%;
    bottom: 35PX;
}

</style>

<h1>اضافه کردن موضوع</h1>
<div>
    <form id="category_form" method="post" action="{% url 'rango:add_category' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input class="btn-primary" type="submit" name="submit" value="اضافه کردن موضوع" />
    </form>

</div>

{% endblock %}