{% extends 'rango/base.html' %}
{% load bootstrap_toolkit %}
{% load static %}


{% block title_block %}

اضافه کردن صفحه
{% endblock %}

{% block body_block %}

{% if category %}
    <form role="form" id="page_form" method="post" action="/rango/{{category.slug}}/add_page/">
        <h2 class="form-signin-heading"> اضافه کردن صفحه به <a href="/rango/category/{{category.slug}}/"> {{ category.name }}</a></h2>
        {% csrf_token %}
        {% bootstrap_form form %}
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">اضافه کردن صفحه</button>
    </form>
{% else %}
    <p>این موضوع وجود نداره!</p>
{% endif %}

{% endblock %}
