<!doctype html>
{% load static %}
{% load bootstrap_toolkit %}
{% load rango_template_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Amin Zamani">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>رنگو - {% block title_block %}هر آن‌چه بخواهید!{% endblock %}</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/dashboard/">

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>

    </style>
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.3/examples/dashboard/dashboard.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap-rtl.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-rtl.min' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'rango:index' %}">رنگو - هر چه بخواهید!</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
       {% if user.is_authenticated %}
        <a href="{% url 'auth_logout' %}?next=/rango/">خروج</a>
        {% else %}
      <a class="nav-link" href="{% url 'auth_login' %}">ورود</a>
        {% endif %}
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'rango:index' %}">
              <span data-feather="home"></span>
              خانه <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rango:about' %}">
              <span data-feather="file"></span>
              درباره من
            </a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rango:profile' user.username %}">
              <span data-feather="file"></span>
              پروفایل من
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rango:add_category' %}">
              <span data-feather="shopping-cart"></span>
              اضافه کردن موضوع
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rango:list_profiles' %}">
              <span data-feather="users"></span>
              همه کاربران
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registration_register' %}">
              <span data-feather="users"></span>
              ثبت‌نام
            </a>
          </li>
        {% endif %}
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>۵ موضوع برتر</span>

        </h6>
        <ul class="nav flex-column mb-2">
          {% block sidebar_block %}
            {% get_category_list category %}
        {% endblock %}
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <br />


      {% block body_block %}
              {% endblock %}
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="https://getbootstrap.com/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.3/examples/dashboard/dashboard.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="{% static 'js/rango-ajax.js' %}"></script></body>
</html>
