{% extends 'rango/base.html' %}
{% load static %}


{% block title_block %}

{{ category.name }}

{% endblock %}

{% block body_block %}

{% if category %}
    <h1> {{ category.name }} </h1>
    <div>
        <strong id="like_count"> {{ category.likes }} </strong> نفر این موضوع را پسنیدیده‌اند
        {% if user.is_authenticated %}
            <button id="likes" data-catid="{{ category.id }}" class="btn btn-primary btn-sm" type="button">
                می‌پسندم!
            </button>
        {% endif %}
    </div>
<br />
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li><a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{ page.title }}</a>
                ({{ page.views }} بار دیده شده)
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong> هیچ صفحه‌ای برای این موضوع ثبت نشده است.</strong>
    {% endif %}
        {% if user.is_authenticated %}
            <div>
                <button class="btn btn-primary btn-sm" type="button" onclick="window.location.href ='/rango/{{category.slug}}/add_page';">
                    افزودن صفحه</button>
            </div>
        {% endif %}
    {% else %}
    <strong> این موضوع وجود ندارد</strong>

    {% endif %}


{% endblock %}