{% extends 'rango/base.html' %}
{% load static %}




{% block body_block %}

 <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">رنگو می‌گه ...</h1>
      {% if user.is_authenticated %}
            چطوری {{ user.username }}؟
        {% else %}
            سلام رفیق!
        {% endif %}

        <p> بازدیدکنندگان از سایت: {{ visits }}</p>
    </div>
  </div>

 <div class="row marketing">
			<div class="col-lg-6">
				<h4>محبوب‌ترین موضوعات</h4>
				<p>
		         	{% if categories %}
		             <ul class="list-group">
		                 {% for category in categories %}
		                 	<li class="list-group-item"><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a> <span class="badge badge-pill badge-primary">{{category.likes}}</span></li>
		                 {% endfor %}
		             </ul>
		        {% else %}
		             <strong>هیچ موضوعی وجود نداره!</strong>
		        {% endif %}

				</p>

			</div>
			<div class="col-lg-6">
				<h4>پربازدیدترین صفحات</h4>
				<p>
				{% if pages %}
				<ul class="list-group">
				{% for page in pages %}
				 <li class="list-group-item"><a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{ page.title }}</a> <span class="badge badge-pill badge-primary">{{page.views}}</span></li>
				 {% endfor %}
				 </ul>
				{% else %}
				<strong>هیچ صفحه‌ای وجود نداره!</strong>
			 {% endif %}
				</p>
			</div>
		</div>


    <br />
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" />
    </div>
{% endblock %}