{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %} کاربران رنگو {% endblock %}

{% block body_block %}
    <h1>کاربران رنگو</h1>
    <div class="panel">
        {% if userprofile_list %}
        <div class="panel-heading">
            <!-- Display search results in an ordered list -->
            <div class="panel-body">
                <div class="list-group">
                {% for listuser in userprofile_list %}
                    <div class="list-group-item">
                         <h4 class="list-group-item-heading">
                            <a href="{% url 'rango:profile' listuser.user.username %}">
                            {{ listuser.user.username }}</a>
                         </h4>
                        {% if listuser.picture %}
                            <img src="{{ MEDIA_URL }}{{ listuser.picture }}" width="64" height="64" />
                        {% else %}
                            <img src="http://lorempixel.com/64/64/people/" />
                        {% endif %}
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
        <p>There are no users for the site.</p>
        {% endif %}
    </div>
{% endblock %}