{% extends "rango/base.html" %}

{% block title_block %}
ثبت‌نام - مرحله دوم
{% endblock %}

{% block body_block %}
    <h1> ثبت‌نام - مرحله دوم</h1>
    <form method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="ذخیره">
    </form>
{% endblock %}