{% extends 'rango/base.html' %}

{% load static %}

{% block title_block %} پروفایل {{ selecteduser.username }} {% endblock %}

{% block body_block %}
<h1>پروفایل {{ selecteduser.username }}</h1>
<img src="{{ MEDIA_URL }}{{ userprofile.picture }}"
    width="300"
    height="300"
    alt="{{ selecteduser.username }}" />
<br/>
<div>
    {% if selecteduser.username == user.username %}
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="بروزرسانی" />
        </form>
    {% else %}
        <p><strong>وب‌سایت:</strong> <a href="{{ userprofile.website }}">
        {{ userprofile.website }}</a></p>
    {% endif %}
</div>
<div id="edit_profile"></div>

{% endblock %}