{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
Register
{% endblock %}

{% block body_block %}

    <h1> About Page </h1>
    {% if registered %}
        Rango Says: <strong> Thank you for registering! </strong>
        <a href="{% url 'rango:index' %}"> Return to the Homepage</a> <br />
    {% else %}
        Rango says: <strong> Register here! </strong>
        <form action="{% url 'rango:register' %}" id="user_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="register">
        </form>
    {% endif %}
{% endblock %}
